[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RDS"]
	path = RDS
	url = https://github.com/cran/RDS
[submodule "degreenet"]
	path = degreenet
	url = https://github.com/cran/degreenet
[submodule "reldist"]
	path = reldist
	url = https://github.com/handcock/reldist
[submodule "rpm"]
	path = rpm
	url = https://github.com/handcock/rpm
[submodule "sspse"]
	path = sspse
	url = https://github.com/cran/sspse
